html, body {
    margin: 0;
    padding: 0;
    font-family: "Crimson Pro", serif;
    background-color: whitesmoke;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

.input-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: auto;
    align-items: center;
    margin-top: 1.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;

}
#input-field {
    color: grey;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    text-align: left;
    font-family: "Crimson Pro", serif;
    height: 3rem;
    width: 100%;
    margin: 10px 0;
}

#add-button {
    border-radius: 8px;
    font-size: 3rem;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

#add-button:hover,
#add-button:active {
    transform: translate(0px, 3px);
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1{
    font-size: 3rem;
    font-weight: 300;
    color: grey;
}

ul li {
    font-size: 3rem;
    font-weight: 400;
    color: black;
    text-align: left;
    line-height: 1;
    margin-top: 0.2em;

    
}

ul li:hover {
    /* background-color: #f8f9fa; */
    cursor: pointer;
    text-decoration: line-through;
}