
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    padding: 0;
    font-family: "Crimson Pro", serif;
    background-color: whitesmoke;
    user-select: none;
    
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 5px
}

.input-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: auto;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid black;

}
#input-field {
    background-color: transparent;
    border: none;
    font-size: 3rem;
    text-align: left;
    font-family: "Crimson Pro", serif;
    height: 3.25rem;
    width: 100%;
    margin: 0.5em 0;
}

input:focus {
    outline: none;
    box-shadow: none;
}

input::placeholder {
    color: lightgray; /* Or any color you want */
    opacity: 1;  /* Optional: make sure it's not too light */
}


#add-button {

    width: 60px;
    height: 60px;
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

#add-button:hover,
#add-button:active {
    transform: translate(0px, 3px);
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1{
    font-size: 3rem;
    font-weight: 300;
    color: grey;
}

ul li {
    font-size: 3rem;
    font-weight: 400;
    color: black;
    text-align: left;
    line-height: 1;
    margin-top: 0.2em;

    
}

ul li:hover {
    /* background-color: #f8f9fa; */
    cursor: pointer;
    text-decoration: line-through;
}